$primary-color: #2385a6;

html {
    scroll-behavior: smooth;
  }

body{
    font-size: 18px;
    word-spacing: 2px;
}

h1 {
    font-family: neuzeitgro, sans-serif;
    font-size: 5em;
    word-spacing: 1px;
    line-height: 90px;
    text-transform: none;
    letter-spacing: -3px;
    color: #181818;
    text-align: center;

}

h2{
    font-family: freightsansLight, freightsans, Arial, Helvetica, sans-serif;
    font-size: 3em;
    letter-spacing: 3px;
    color: #181818;
    text-align: center;
    font-weight: 100;
    word-spacing: 15px;
    line-height: 50px;
}

.hr{
    width: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hr-passion{
    width: 200px;
    margin: 0;
    padding: 20px;
}

.center{
    float: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.grid-10 {
    width: 680px;
    position: relative;
    max-width: 100%;
}

p{
    font-family: freightsans, Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-transform: none;
    letter-spacing: 0;
    line-height: 32px;
    color: #6b6b6b;
    text-align: center;
}

.col-md-3 > div{
    transition: all .1s;
    &:hover {
        transform: scale(1.2);
        
    }
}

.col-md-3{
    filter:drop-shadow(4px 2px 2px #afafaf) ;
    &.columns{
        text-align: center;
        padding: 10px;
        margin: 0;
        transform: scale(0.8);
    }
}

img{
    filter:drop-shadow(-4px -3px 1px rgb(255, 255, 255));
}


#D1{
    padding-right: 15px;
}

.navbar-nav{
    width: 100%;
    padding: 0px 15%;
    margin-left: 0;
    margin-right: 0;
    display: flex wrap;
    justify-content: space-evenly;
}

.navbar{
  padding: 0;
}

.nav-item{
    padding: 10px;
    margin: 50px 0px 50px 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav li{
    display: inline-block;
    width: 150px;
}

nav .nav-link{
    border-bottom: .5px solid #606768;
    position: relative;
    &:hover{
        transition: all .1s;
        cursor: pointer;
        border-bottom: .5px solid #252525;
        border-bottom-width: 0.3rem;
        position: absolute;
        width: 130px;
    }
}

a.nav-link{
    padding: 0 !important;
    &:hover{
        color: #252525 !important;
    }
}

.radu{
  padding: 0em;
}

.logo{
    padding-top: 20PX;
    width: 60px;
}

.projects-header{
    padding: 1em;
}

.project-paragraph{
    margin: 20px auto;
}

.latest-projects{
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin: 20px auto;
}


.card{
    margin: 10px;
    box-shadow: 2px 2px 12px #d3d3d3;  
    &:hover{
        box-shadow: 0px 0px 10px $primary-color;
    }
}

.card-img-top{
    padding: 10px;
    border-radius: 15px;
    width: 100%;
}

.card-body{
    padding: 0 0 0 10px;
}

.card-text{
    text-align: left;
}

.card-text-subtext{
    font-family: neuzeitgro, sans-serif;
    padding: 0;
    margin: 0;
}

.first-paragraph{
    margin: 2rem auto;
}

.list-projects{
    padding: 20px 0px;
}

.arrow{
    transition: all 1s;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background: url(../../assets/img/arrow.png);
    display: block;
    background-position: center;
    position: absolute;
    right: 10px;
    bottom: 20px;
    opacity: 0;
}

.card:hover .moving-arrow {
    transition: all .5s;
    right: 25px;
    opacity: 1;
}

.fade-in{
    opacity: 0;
}

.row:hover .col-md-4 {
    transition: all .5s;
    opacity: 0.5;
}

.col-md-4{
    transition: all .5s;
    &:hover{
        opacity: 1 !important;
    }
}

.col-md-4 a{
    text-decoration: none;
    color: #212529;
}


@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}


.button{
  font-family: freightsans, Arial, Helvetica, sans-serif;
  padding: 0.20em 1em;
  text-align: center;
  text-decoration: none;
  color: $primary-color;
  border: 2px solid $primary-color;
  font-size: 1.2em;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 1.5em;
    display: block;
    position: absolute;
    top: 0;
    left: -2.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    cursor: pointer;
    background-color: $primary-color;
    color: #fff;
    text-shadow: 2px 2px 4px #0a0a0a;
    box-shadow: 4px 4px 2px #afafaf;
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
      transition: all 0.5s ease-in-out;
    }
  }
}



@font-face {
    font-family: freightsans;
    src: url(../../fonts/freightsans-book-webfont.woff);
}

@font-face {
    font-family: freightsansLight;
    src: url(../../fonts/freightsans-light-webfont.woff);
}

@font-face {
    font-family: neuzeitgro;
    src: url(../../fonts/neuzeitgro-bol-webfont.woff);
}

@font-face {
    font-family: standard;
    src: url(../../fonts/ss-standard.woff);
}


#circleBar{
    text-align: center;
}

#circleBar .round, #circleBar .round2, #circleBar .round3, #circleBar .round4, #circleBar .round5,#circleBar .round6{
    min-height: 20%;
    margin-top: 30px;
    position: relative;
    margin-bottom: 20px;
    font-family: freightsansLight, freightsans, Arial, Helvetica, sans-serif;
}

#circleBar .round strong, #circleBar .round2 strong, #circleBar .round3 strong, #circleBar .round4 strong, #circleBar .round5 strong, #circleBar .round6 strong{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -55px;
    transform: translate(-50%);
    font-size: 2em;
    color: #212121;
    font-weight: 100;
    font-family: neuzeitgro, freightsans, Arial, Helvetica, sans-serif;
}

#circleBar span{
    display: block;
    color: #999;
    font-size: 1.5em;
    margin-top: 10px;
}

#circleBar span i{
    color: $primary-color;
    margin-right: 7px;
}


canvas{
    width: 50% !important;
    height: 50% !important;
}

.col-md-6{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.col-md-6 h2{
    letter-spacing: 20px;
    margin: 0;
    padding: 30px;
}

.about-me-row{
    padding: 10% 0px;
}

.about-me-row .col-md-6 p{
    width: 100%;
}

.about-me{
    display: flex;
    justify-content: center;
    text-align: center;
}

.about-me span{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 350px;
    height: 400px;
    background-repeat: no-repeat;
    background: url(../../assets/img/oil-pic.png);
    background-position: center;
}

.about{
    padding-top: 1em;
    background-image: linear-gradient(to top, #f8f9fa 0%, #fff 100%);
}

.stats{
    padding: 50px 0px;
}

/////////////////////////////////


input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}


button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}
  

  .container-contact2 {
    width: 100%;  
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  
  .wrap-contact2 {
    width: 790px;
    background: #f8f9fa;
    border-radius: 10px;
    overflow: hidden;
    padding: 2em 1em;
  }

  .contact2-form {
    width: 100%;
  }
  
  .contact2-form-title {
    display: block;
    padding-bottom: 90px;
    font-family: freightsansLight, freightsans, Arial, Helvetica, sans-serif;
    font-size: 3em;
    letter-spacing: 3px;
    color: #181818;
    text-align: center;
    font-weight: 100;
    word-spacing: 15px;
    line-height: 50px;
  }

  .wrap-input2 {
    width: 100%;
    position: relative;
    border-bottom: .5px solid #adadad;
    margin-bottom: 37px;
    font-family: freightsansLight, freightsans, Arial, Helvetica, sans-serif;
  }
  
  .input2 {
    display: block;
    width: 100%;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    font-family: freightsansLight, freightsans, Arial, Helvetica, sans-serif;
    background-color: #f8f9fa;
  }
  
  .focus-input2 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .focus-input2::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background: $primary-color;
  }
  
  .focus-input2::after {
    content: attr(placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 30px;
    font-family: freightsans, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #999999;
    line-height: 1.2;
    opacity: 0;
    transition: all 0.4s;
  }

  input.input2 {
    height: 45px;
  }
  
  input.input2 + .focus-input2::after {
    top: 16px;
    left: 30px;
  }
  
  textarea.input2 {
    min-height: 115px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  
  textarea.input2 + .focus-input2::after {
    top: 16px;
    left: 30px;
  }
  
  .input2:focus + .focus-input2::after {
    top: 0px;
    opacity: 1;
    left: 30px;
  }
  
  .input2:focus + .focus-input2::before {
    width: 100%;
  }
  
  .container-contact2-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
  }
  
  .wrap-contact2-form-btn {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 2px;
    width: auto;
    overflow: hidden;
    margin: 0 auto;
  }


  #submit{
    background: transparent !important;
    color: $primary-color;
    padding: 0.20em 1em;
    &:hover{
      color: #fff !important;
      background: $primary-color;
    }
  }

  .input-button{
    padding: 0px;
  }

  .input-button-msg-sent{
    padding: 0px;
    border-color: yellowgreen;
    background-color: yellowgreen;
    color: #fff !important;
    &:hover{
      background-color: yellowgreen;
      color: yellowgreen !important;
    }
  }

  .sumbit-sent{
    color: #fff !important;
  }

  footer{
    border-top: 0.5px solid #999999;
    filter: brightness(98%);
    bottom: 0;
    padding: 20px;
  }

  footer .fab, footer .fas{
    margin: 0em 0.3em;
    padding: 0.2em 0.2em;
    text-align: center;
    text-decoration: none;
    color: $primary-color;
    border: 2px solid $primary-color;
    font-size: 2em;
    display: inline-block;
    border-radius: 0.3em;
    border: none;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    &:before {
      height: 100%;
      width: 1.5em;
    }
    &:hover {
      cursor: pointer;
      background-color: $primary-color;
      color: #fff;
      text-shadow: 2px 2px 4px #0a0a0a;
      box-shadow: 4px 4px 2px #afafaf;
      &:before {
        transform: skewX(-45deg) translateX(13.5em);
        transition: all 0.3s ease-in-out;
      }
    }
  }

  footer a{
    transition: all 0.5s ease-in-out;
    border: none !important;
    
  } 

  footer p{
    margin-top: 20px;
    font-size: 1.2em;
    a{
      color: $primary-color;
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }
    }
  }

  .foot{
    text-align: center;
  }

  @media (max-width: 576px) {
    .wrap-contact2 {
      padding: 2em 0.5em;
    }
  }


   @media screen and (max-width:991px){
    .navbar-nav li{
      display: flex;
      flex-wrap: wrap;
      text-align: center !important;
      justify-content: center;
      justify-self: center;
      justify-items: center;
      margin: auto !important;
      padding: 25px;
    }

    .navbar-nav{
        display:flex;
        flex-flow: column;
    }
    #nav-about{order:2;}
    #nav-portfolio{order:3;}
    #nav-logo{order:1;}
    #nav-skills{order:4;}
    #nav-contact{order:5;}
}

