
$primary-color: #2385a6;


html {
    scroll-behavior: smooth;
  }

body{
    font-size: 18px;
    word-spacing: 2px;
}

h1 {
    font-family: neuzeitgro, sans-serif;
    font-size: 84px;
    word-spacing: 1px;
    line-height: 90px;
    text-transform: none;
    letter-spacing: -3px;
    color: #181818;
    text-align: center;
    margin: .8em 0 0;
}

.center{
    float: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.grid-10 {
    width: 680px;
    position: relative;
    max-width: 100%;
}

p{
    font-family: freightsans, Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-transform: none;
    letter-spacing: 0;
    line-height: 32px;
    color: #6b6b6b;
    text-align: center;
}

.col-md-3 > div{
    transition: all .1s;
    &:hover {
        transform: scale(1.2);
        
    }
}

.col-md-3{
    filter:drop-shadow(4px 2px 2px #afafaf) ;
    &.columns{
        text-align: center;
        padding: 10px;
        margin: 0;
    }
}

img{
    filter:drop-shadow(-4px -3px 1px rgb(255, 255, 255));
}


#D1{
    padding-right: 15px;
}

// .row{
//     padding: 0;
//     margin: 0;
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
// }

.navbar-nav{
    width: 100%;
    padding: 0px 15%;
    margin-left: 0;
    margin-right: 0;
    display: flex wrap;
    justify-content: space-evenly;
}

.nav-item{
    padding: 10px;
    margin: 50px 0px 50px 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav li{
    display: inline-block;
    width: 150px;
}

nav .nav-link{
    border-bottom: .5px solid #606768;
    position: relative;
    &:hover{
        transition: all .1s;
        cursor: pointer;
        border-bottom: .5px solid #252525;
        border-bottom-width: 0.3rem;
        position: absolute;
        width: 130px;
    }
}

a.nav-link{
    padding: 0 !important;
    &:hover{
        color: #252525 !important;
        // font-family: neuzeitgro, sans-serif;
    }
}


.logo{
    width: 70px;
}

.projects-header{
    margin-top: 2rem;
    padding: 3rem;
}

.latest-projects{
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
}

.card{
    margin: 10px;
}

.card-img-top{
    padding: 10px;
    border-radius: 15px;
    width: 100%;
}

.card-body{
    padding: 0 0 0 10px;
}

.card-text{
    text-align: left;
}

.card-text-subtext{
    font-family: neuzeitgro, sans-serif;
    padding: 0;
    margin: 0;
}

.first-paragraph{
    margin: 2rem auto;
}

.list-projects{
    padding: 0;
}

.arrow{
    transition: all 1s;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background: url(../../assets//img/arrow.png);
    display: block;
    background-position: center;
    position: absolute;
    right: 10px;
    bottom: 20px;
    opacity: 0;
}

.card:hover .moving-arrow {
    transition: all .5s;
    right: 25px;
    opacity: 1;
}

.fade-in{
    opacity: 0;
}

.row:hover .col-md-4 {
    transition: all .5s;
    opacity: 0.5;
}

.col-md-4{
    transition: all .5s;
    padding: 0;
    &:hover{
        opacity: 1 !important;
    }
}

.col-md-4 a{
    text-decoration: none;
    color: #212529;
}



@font-face {
    font-family: freightsans;
    src: url(../../fonts/freightsans-book-webfont.woff);
}

@font-face {
    font-family: freightsansLight;
    src: url(../../fonts/freightsans-light-webfont.woff);
}

@font-face {
    font-family: neuzeitgro;
    src: url(../../fonts/neuzeitgro-bol-webfont.woff);
}

@font-face {
    font-family: standard;
    src: url(../../fonts/ss-standard.woff);
}


#circleBar{
    text-align: center;
}

#circleBar .round, #circleBar .round2, #circleBar .round3, #circleBar .round4{
    min-height: 20%;
    margin-top: 30px;
    position: relative;
    margin-bottom: 20px;
}

#circleBar .round strong, #circleBar .round2 strong, #circleBar .round3 strong, #circleBar .round4 strong{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    transform: translate(-50%);
    font-size: 2em;
    color: #212121;
    font-weight: 100;
}

#circleBar span{
    display: block;
    color: #999;
    font-size: 17px;
    margin-top: 10px;
}

#circleBar span i{
    color: $primary-color;
    font-size: 22px;
    margin-right: 7px;
}

section button:hover{
    background-color: $primary-color;
}

canvas{
    width: 50% !important;
    height: 50% !important;
}