body{
    font-size: 18px;
    word-spacing: 2px;
}


h1 {
    font-family: neuzeitgro, sans-serif;
    font-size: 84px;
    word-spacing: 1px;
    line-height: 90px;
    text-transform: none;
    letter-spacing: -3px;
    color: #181818;
    text-align: center;
    margin: .8em 0 0;
}

.center{
    float: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.grid-10 {
    width: 680px;
    position: relative;
    max-width: 100%;
}

p{
    font-family: freightsans, Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-transform: none;
    letter-spacing: 0;
    line-height: 32px;
    color: #6b6b6b;
    text-align: center;
}

.nav-item{
    padding: 10px;
    margin: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.col-md-3 > div{
    transition: all .1s;
    &:hover {
        transform: scale(1.2);
    }
}

.col-md-3{
    filter:drop-shadow(4px 4px 6px #b8b9be) ;
    &.A{
        text-align: center;
        padding: 10px;
        margin: 0;
    }
}

img{
    filter:drop-shadow(-2px -2px 4px #fff);
}


#D1{
    padding-right: 15px;
}

.row{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav li{
    display: inline-block;
    width: 150px;
}

nav .nav-link{
    border-bottom: .5px solid #606768;
    &:hover{
        transition: all 50ms;
        cursor: pointer;
        border-bottom: .5px solid #16a6b6;
        border-bottom-width: 0.3rem;
        position: absolute;
        width: 130px;
    }
}

a.nav-link{
    padding: 0 !important;
    &:hover{
        color: #16a6b6 !important;
    }
}


.logo{
    width: 70px;
}

@font-face {
    font-family: freightsans;
    src: url(/assets/fonts/freightsans-book-webfont.woff);
}

@font-face {
    font-family: freightsansLight;
    src: url(/assets/fonts/freightsans-light-webfont.woff);
}

@font-face {
    font-family: neuzeitgro;
    src: url(/assets/fonts/neuzeitgro-bol-webfont.woff);
}

@font-face {
    font-family: standard;
    src: url(/assets/fonts/ss-standard.woff);
}